{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<!--<div class="simple__page">-->
<!--    {% if items %}-->
<!--    <div>-->
<!--        <h1 class="title cart__title">Total products: {{ items|length }}</h1>-->
<!--        <div class="cart__card">-->
<!--            {% for item in items %}-->
<!--            <div class="cart__items">-->
<!--                <p class="cart__item">{{ item }}</p>-->
<!--                <div class="cart__price">{{ item.get_discounted_price }}-->
<!--                    <form method="post" action="{% url 'cart' %}">-->
<!--                        {% csrf_token %}-->
<!--                        <input type="hidden" name="item_id" value="{{ item.id }}">-->
<!--                        <button type="submit" class="btn__cross">&#9587;</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--            <button type="submit" id="checkout-button" class="btn btn__primary">Buy</button>-->
<!--        </div>-->
<!--        <h1 class="title cart__title">Total amount: ${{ total_amount }}</h1>-->
<!--    </div>-->
<!--    <div>-->
<!--    <h1 class="title">Your favorite list</h1>-->
<!--    <div class="favorite__list">-->
<!--        {% for fav_item in favorites %}-->
<!--                <a href="{% url 'index' %}" class="favorite__link">-->
<!--                    {{ fav_item.item }}-->
<!--                </a>-->
<!--                <form method="post" action="{% url 'cart' %}">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="item_id" value="{{ item.id }}">-->
<!--                    <button type="submit" class="btn__cross">&#9587;</button>-->
<!--                </form>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% else %}-->
<!--    <h1 class="title bold">Your cart is empty, order something and come back!</h1>-->
<!--    {% endif %}-->
<!--    </div>-->
<!--</div>-->

<!--    <div class="simple__page">-->
<!--        <div class="left__side">-->
<!--            <h1 class="title">MY ORDER</h1>-->
<!--            <div class="cart__card">-->
<!--                <div class="card__info">-->
<!--                    {% for item in items %}-->
<!--                    <div class="card__left">-->
<!--                        <img src="{{ item.poster.url }}" alt="" class="card__img">-->
<!--                    </div>-->
<!--                    <div class="cart__items">-->
<!--                        <p class="cart__item">{{ item }}</p>-->
<!--                        <div class="cart__price">{{ item.get_discounted_price }}-->
<!--                            <form method="post" action="{% url 'cart' %}">-->
<!--                                {% csrf_token %}-->
<!--                                <input type="hidden" name="item_id" value="{{ item.id }}">-->
<!--                                <button type="submit" class="btn__cross">&#9587;</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="right__side">-->
<!--            <div class="order__info">-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<div class="container">
    <div class="cart__content">
        <div class="left__side">
            <div class="head">
                <h1 class="title">MY ORDER</h1>
                <p class="count">{{ items|length }}</p>
            </div>
            <section class="order__items">
                {% for item in items %}
                <div class="item">
                    <img src="{{ item.poster.url }}" alt="{{ item.name }}-poster" class="poster">
                    <div class="item__info">
                        <div class="head">
                            <a href="{{ item.get_absolute_url }}" class="title">
                                {{ item.name }}
                            </a>
                            <form method="post" action="{% url 'cart' %}">
                                 {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <button type="submit" class="btn__cross">&#9587;</button>
                            </form>
                        </div>
                        <p class="price">{{ item.get_discounted_price }}</p>
                        <div class="game__activation">
                            <div class="region">
                                <p>Region of activation:</p>
                                {% for region in item.regions.all %}
                                <p class="value">Russia, Ukraine and CIS</p>
                                {% endfor %}
                            </div>
                            <div class="platform">
                                <p>Platform of activation:</p>
                                <p class="value">Steam</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
        <div class="right__side">
            <form action="" class="cart__total" method="POST">
                {% csrf_token %}
                <div class="main">
                    <h1 class="title">total</h1>
                    <button class="btn-primary" disabled type="submit" id="checkout-button">take order</button>
                </div>
                <div class="price">
                    {% if total_amount %}
                    <h1 class="title">${{ total_amount }}</h1>
                    {% else %}
                    <h1 class="title">$0</h1>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
    <script type="text/javascript">
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
          fetch("{% url 'create-checkout' %}", {
            method: "POST",
            headers: {
                'X-CSRFToken': csrftoken
            }
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (session) {
              return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
              if (result.error) {
                alert(result.error.message);
              }
            })
            .catch(function (error) {
              console.error("Payment error:", error);
            });
        });
    </script>
