{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {% endblock %}

{% block content %}
<div class="container tornado__background">
    <div class="auth__card">
        <h1 class="title">Sign In</h1>
        <a href="{% url 'index' %}"><img src="https://cdn-icons-png.flaticon.com/512/25/25366.png" alt="" class="login-card__icon"></a>
        <form action="" class="login__form" method="POST">
            {% csrf_token %}

            <div class="form__error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <div class="box">
                <label for="{{ f.id_for_label }}" class="form__label">{{ f.label }}</label>{{ f }}
                <div class="form__error">{{ f.errors }}</div>
            </div>
            {% endfor %}

            <button class="btn btn__primary" type="submit">Sign In</button>
        </form>
        <div class="login__redirect">
            <p class="sub__text">Not a member yet?</p>
            <a class="sub__link" href="{% url 'signup' %}">Sign Up Now!</a>
        </div>
        <p class="login__title">Or login via</p>
        <div class="login__socials">
            <a href="{% url 'social:begin' 'github' %}" class="social__link github"></a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %} {% endblock %}
