{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container products__page">
    {% include 'include/sidebar.html' %}
    {% include 'include/platforms_section.html' %}
    {% if items %}
    <section class="products">
        {% for item in items %}
          <a href="{{ item.get_absolute_url }}" class="item__link inset__shadow" style="background-image: url('{{ item.poster.url }}')">
            <div class="item__card">
                <p class="item__name">{{ item.name }}</p>
                <p class="item__description">{{ item.get_short_description }}</p>
                {% if item.discounts.exists %}
                <div class="item__price discount">
                    <p class="discount">{{ item.get_discounted_price }}</p>
                    <p class="discount__percent">-{{ item.get_percent_discount }}</p>
                </div>
                <p class="item__price old__price">{{ item.get_price }}</p>
                {% else %}
                <p class="item__price">{{ item.get_price }}</p>
                {% endif %}
                <div class="item__platforms">
                    {% for platform in item.platform.all %}
                        <img src="{{ platform.icon.url }}" alt="{{ item.name }}-image" class="item__platform">
                    {% endfor %}
                </div>
                <div class="item__tags">
                {% for tag in item.tags.all %}
                    <p class="item__tag">{{ tag }}</p>
                {% endfor %}
                </div>
            </div>
          </a>
        {% endfor %}
    </section>
    {% else %}
    <div class="items__not-found">
        <h1 class="title bold">Sorry, but we don't have any games matching your requirements yet</h1>
    </div>
    {% endif %}
    {% include 'include/search_bar.html' %}
</div>
{% endblock %}