{% load static %}
<header class="sticky navbar">
    <div class="navbar__left">
        <div class="header__logo">
            <a href="{% url 'index' %}" class="logo">Play-ground</a>
            <img src="{% static 'vendor/gamepad.png' %}" alt="" class="gamepad">
        </div>
    </div>
    <div class="hamb">
        <div class="hamb__field" id="hamb">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <ul class="navbar__right" id="navbar">
        <a href="{% url 'cart' %}" class="link cart__link"></a>
<!--        <a href="{% url 'index' %}" class="link">Store</a>-->
        <ul class="dropdown__store">
            <li class="dropdown__title">
                <a href="{% url 'index' %}" class="link">Store</a>
            </li>
            <li class="dropdown__content">
                <div class="tags">
                    {% for tag in tags %}
                        <a href="" class="link">{{ tag }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <a href="{% url 'news' %}" class="link">News</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="link auth__link fa fa-sign-out"></a>
        {% else %}
        <a href="{% url 'login' %}" class="link auth__link fa fa-sign-in"></a>
        {% endif %}
    </ul>
</header>
<div class="popup" id="popup">

</div>

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/hamburgerNavbar.js' %}"></script>
{% endblock %}
