{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}


<div class="container">
    <div class="reviews__page">
        <section class="reviews__section">
            <div class="reviews__game">
                <p class="title">{{ item }} reviews</p>
                {% if item.poster %}
                <img src="{{ item.poster.url }}" alt="{{ item }}-poster" class="poster">
                {% else %}
                <img src="" alt="{{ item }}-poster" class="poster">
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="review__form">
            {% else %}
            <div class="review__form disabled">
            <p class="title__danger">You must be logged in to leave a review</p>
            {% endif %}
                <form method="post" action="{% url 'add_review' item.pk %}">
                    {% csrf_token %}
                    <div class="form__control">
                        <p class="title">Rate:</p>
                        <div class="stars__container">
                            {% for i in '54321'|make_list %}
                                <div>
                                    <input type="radio" id="rate{{ i }}" name="rate" value="{{ i }}" class="custom__radio">
                                    <label for="rate{{ i }}"
                                           class="radio__label"
                                    >{{ i }}
                                        <img
                                                src="https://cdn-icons-png.flaticon.com/512/1828/1828884.png"
                                                alt="{{ i }}-star-rating"
                                    >
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form__control">
                        <label for="text" class="title">Text:</label>
                        <textarea class="review__textarea" id="text" name="text" required></textarea>
                    </div>
                    <button class="btn btn__primary" type="submit">Rate</button>
                </form>
            </div>
            {% if item.reviews.all %}
            {% for review in item.reviews.all %}
            <div class="review__card">
                <div class="content">
                    <p class="review__user">{{ review.user }}</p>
                    <p class="review__text">{{ review.text }}</p>
                    <p class="review__date">{{ review.created_at }}</p>
                </div>
                <p class="review__rate">{{ review.rate }} / 5</p>
            </div>
            {% endfor %}
            {% else %}
                <p class="sub__title mt-10 normal">No one has left a review yet, you can be the first!</p>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
